.about-container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 3rem;
    color: var(--color-primary);
    padding: 0 1rem;

    div{
        flex: 1 1 250px;
    }

    & div:first-child{
        max-width: 500px;
        align-self: center;

        & h2{
            text-transform: uppercase;
        }

        & a{
            display: inline-block;
            margin-top: 1rem;
            padding: 1rem 2rem;
            background-color: var(--bck-primary);
            border-radius: 15px;
            font-weight: bold;
            color: #fff;
            box-shadow: var(--shadow-elevation-low);
            transition: 200ms ease-in;
        }
        & a:hover{
            background-color: var(--bck-primary-hover);
            box-shadow: 1px 5px 15px var(--bck-destaque);
        }
    }

    & div:nth-child(2){
        margin: 2rem 0;
        max-width: 500px;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 4px double var(--bck-primary);
        box-shadow: var(--shadow-elevation-low);

        & img{
            object-fit: cover;
            height: 100%;
            border-radius: var(--border-radius);
            transition: 200ms ease-in;
        }
        & img:hover{
            filter: brightness(120%);
        }
    }
}
.partner-container{
    position: relative;
    max-width: 100%;
    margin: -50px auto 0 auto;
    background-color: var(--bck-shadow);
    color: var(--color-primary);
    padding: 2rem 1rem;
    z-index: 2;

    & h3, p{
        max-width: 600px;
        margin: auto;
    }

    & h3{
        color: var(--background-destaque);
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    & p {
        line-height: 1.5rem;
    }
}