.contact-container {
    position: relative;
    display: grid;
    grid-template-columns: auto;

    & h2 {
        font-size: 2rem;
        color: var(--color-light);
        width: fit-content;
        padding: .7rem 2rem;
        margin: 0 auto 3rem auto;
        text-shadow: 2px 1px 3px var(--bck-primary);
        border-radius: var(--border-radius);
    }

    & form {
        display: grid;
        grid-template-columns: minmax(200px, 500px);
        justify-content: center;
        row-gap: 1rem;
        max-width: 700px;
        margin: 1rem auto;
        background-color: #ffffff2d;
        backdrop-filter: blur(4px);
        padding: 2rem 1rem;
        width: calc(100% - 1rem);
        border-radius: var(--border-radius);
        box-shadow: var(--shadow-elevation-low);
        box-sizing: border-box;

        & label,
        button {
            margin-top: .5rem;
            color: var(--color-light);
            font-size: 1.1rem;
        }

        & input,
        textarea {
            border: none;
            padding: .6rem;
            font-size: 1.1rem;
            border-radius: 15px;
            color: var(--color-primary);
            transition: 200ms ease-in;
            
        }

        & input:focus,
        textarea:focus {
            outline-color: var(--bck-primary);
            box-shadow: var(--shadow-elevation-low);
        }

        & textarea {
            min-height: 200px;
            max-height: 500px;
        }

        & button {
            height: 50px;
            border: none;
            border-radius: 15px;
            font-weight: bold;
            transition: 200ms ease-in;
            box-shadow: var(--shadow-elevation-low);
            color: var(--color-primary);
            font-size: 1.1rem;
            cursor: pointer;
        }

        & button:hover {
            background-color: var(--bck-destaque);
            color: var(--color-light);
            box-shadow: var(--shadow-elevation-low);
            border: 1px solid var(--color-light);
        }
    }

    & svg:last-child{
        margin-bottom: -3px;
    }

}