:root{
    --bck-destaque: #4323fa;
    --bck-destaque-transparent: #4323fa69;
    --bck-primary: hsl(14, 99%, 56%);
    --bck-primary-transparent: #ff56224b;
    --bck-secondary: #000;
    --bck-shadow: #ebecec;
    --color-primary: hsl(14, 98%, 53%);
    --color-secondary: #4323fa;
    --bck-light: #fff;
    --color-light: #fff;
    --color-dark: #000;
    --filter-gradient: #0000008f, #ff56228e;
    --color-border: var(--bck-destaque);
    --bck-primary-hover: var(--bck-destaque);
    --bck-destaque-hover: var(--bck-primary);
    --color-primary-hover: var(--bck-destaque);
    --border-radius: 15px;
    --bck-gradient: 
        linear-gradient(-190deg, #ff3705, #ff56225d 70.71%),
        linear-gradient(300deg, #ff480079, #ff480046 70.71%),
        linear-gradient(360deg, #ff480079, #ff3300 70.71%);
    --transition: 200ms all;
    --response-height: 0px;
}

:root{
    /* --shadow-color: #941e00; */
    --shadow-elevation-low: #ff55216e 0px 8px 30px -10px;
      /* 0.2px .7px 5px hsl(var(--shadow-color) / 0.34),
      0.2px .5px 5px -1px hsl(var(--shadow-color) / 0.34),
      1px 5px 8px -1.5px hsl(var(--shadow-color) / 0.34); */
}
@font-face {
    font-family: "Poppins";
    src:
    local("Poppins"),
    url("/fonts/poppins/Poppins-Light.ttf") format("truetype"),
    url("/fonts/poppins/Poppins-Medium.ttf") format("truetype"),
    url("/fonts/poppins/Poppins-Bold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    src:
    local("Rubik"),
    url("/fonts/rubik/Rubik-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

html {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bck-shadow);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bck-primary);
    border-radius: 15px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--bck-primary);
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    font-variant-ligatures: contextual;
}
h1,h2,h3,a,label,button,::before{
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, sans-serif;
}
a{
    text-decoration: none;
}
p,input{
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, sans-serif;
}
main{
    padding: 1rem;
}
.background-fixed-image {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    clip-path: inset(0);
    overflow: hidden;
    z-index: -1;
    background: linear-gradient(170deg, #ff4111, var(--bck-primary));
    background-blend-mode: luminosity;

    & img {
       min-width: 100%;
       height: 100%;
       object-fit: cover;
       position: fixed;
       inset: 0;
       filter: opacity(.3) brightness(40%) contrast(150%);
    }
}
.button-whatsapp{
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
    transition: 200ms ease-in;

    & svg{
        width: 60px;
        height: 60px;
        transition: 200ms ease-in;
    }
}

.button-whatsapp::before{
    position: absolute;
    top: 50%;
    right: -100px;
    opacity: 0;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
    content: 'Envie-me uma mensagem';
    width: max-content;
    padding: 20px;
    background-color: var(--bck-shadow);
    box-shadow: var(--shadow-elevation-low);
    border: 4px double var(--color-primary);
    border-radius: 15px;
    transition: 200ms ease-in;
    z-index: -1;
}

.button-whatsapp:hover{
    
    & svg{
        transform: rotate(30deg);
    }
}

.button-whatsapp:hover::before{
    right: -50px;
    opacity: 10;
}

.social-media {
    display: inline-flex;
    column-gap: 1rem;

    & svg {
        width: 30px;
        height: 30px;
        fill: var(--bck-primary);
        stroke: var(--color-light);
    }
}